body{
    font-size: 18px;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
/*header*/
header{
    width: 100%;
    height: 20vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../images/header2.png');
    z-index: 40;
}
.search{
    margin-top: 3.4rem;
}
.search input{
    width: 100%;
    height: 1.9rem;
}
.search button{
    width: 5rem;
    height: 2.rem;
}



/*left-sidebar*/
.left-sidebar{
    width: 18rem;
    height: 93vh;
    position: fixed;
    top: 6vh;
    left: 3rem;
    z-index: 999;
    background-color: whitesmoke;
}
#filters{
    width: 90px;
    height: 30px;
    margin-top: 8px;
    border-radius: 0;
    background-color: whitesmoke;
	border: 1px solid whitesmoke;
	color: #FFFFFF;
	padding: 12px 45px;
}

/*main-container*/
.main-container{
    /* width: 100%; */
    margin-top: -10rem;
    margin-left: 1.5rem;
    padding-bottom: 5rem;
}

.home-container{
    position: relative;
    margin-top: 15rem;
    top: 5vh;
    left: 7rem;
    max-width: 90%;
    padding-bottom: 5rem;
}
.video-box{
    /* border: 1px solid #000; */
    width: 90%;
    height: 15rem;
}

.video-box img{
    width: 100%;
    height: 100%;
}
/*video player*/


@media(max-width:700px) {
    .left-sidebar{
        display: none;
    }

    /* #main-container-video {
        margin-top: -10rem !important;
        margin-left: 4rem !important;
        padding-bottom: 5rem !important;
    } */
}