<template>
	<div class="home-container">
		<div class="row" v-if="videos.length">
			<div v-for="(video, index) in videos" :key="index" class="col-md-3">
				<router-link :to="{name:'videoPage', params:{videoId: video.id}}">
					<image-item v-if="video.img" :source="$apiUrl + video.img" />
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>
import ImageItem from '../components/image/Image'

export default {
	data() {
		return {
			videos:[]
		}
	},

	components:{ImageItem},

	methods:{
		load(){
			this.$http.get('web/video').then(response => {
				this.videos = response.data.videos				
			}).catch(err => {
				console.log('err', err.message);
			})
		}
	},

	mounted(){
		this.load()
	}
}
</script>

<style>
	/* .home-container{
		position: relative;
		margin-left: 13rem;
		margin-top: 2.5rem;
	} */
</style>