<template>
    <div>
            <video-player v-if="videoId" :video-id="videoId"/>
    </div>
</template>


<script>
import VideoPlayer from '../../components/video/VideoPlayer.vue'

export default {
    data(){
        return {
            videoId: null,
        }
    },

    components:{VideoPlayer},

    mounted(){
        this.videoId = this.$route.params.videoId
    }
}
</script>