<template>
  <div class="container-fluid">
       <header>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-6 d-flex search">
                    <input type="text">
                </div>
                <div class="col-md-2">

                </div>
            </div>
       </header>
       <section class="left-sidebar b-shadow">

       </section>
       <section>
           <div class="main-container">
             <router-view name="main" />
           </div>
       </section>
    </div>
</template>


<script>
export default {
  
}
</script>