<template>
  <div class="video-youtube">
    <youtube 
      width="740"
      height="400"
      :video-id="videoYoutubeId" 
      ref="youtube" 
      @playing="playing"/>
    <!-- <button @click="playVideo">play</button> -->
  </div>
</template>

<script>
export default {
  props:['videoId'],
  data() {
    return {
      videoYoutubeId: 'lG0Ys-2d4MA'
    }
  },
  methods: {
    playVideo() {
      this.player.playVideo()
    },
    playing() {
      console.log(' we are watching!!!')
    }
  },
  computed: {
    player() {
      return this.$refs.youtube.player
    }
  }
}
</script>

<style scoped>
  .video-youtube {
    margin-top: 16rem !important;
    margin-left: 2rem !important;
}
</style>