<template>
    <div class="video-box b-shadow" v-lazyload>
        <img class="image__item" :data-url="source">
    </div>
</template>

<script>
export default {
    props: {
        source:{
            type: String,
            required:true
        }
    },
}
</script>